#Menu {
  background-color: $primary;
  height: 40px;

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .logo {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;

      img {
        width: 30px;
        margin: 0 8px;

        @include md {
          width: 40px;
        }
      }

      p {
        color: white;
        font-size: 18px;
        font-weight: 700;

        @include md {
          font-size: 20px;
        }
      }
    }
  }

  .n-base-selection {
    width: 100px;

    .n-base-selection-label {
      width: 100px;
    }

    .n-base-selection__border {
      border: none;
    }
  }

  .n-input {
    .n-input-wrapper {
      width: 300px;
    }
  }

  .n-button {
    .n-button__content {
      color: $white;
    }

    .n-button__border {
      border: none;
    }
  }

  .menu-items {
    list-style: none;
    display: none;

    .menu-item {
      a {
        text-decoration: none;
      }

      .startedBtn {

        a {
          text-decoration: none;
          color: $primary;
          background-color: $secondary;
          font-weight: 700;
          padding: 10px 20px;
          border-radius: 30px;
        }
      }
    }

    @include lg {
      display: flex;
    }
  }

  .sidemenu-items {
    list-style: none;
    background-color: $white;
    position: absolute;
    top: 40px;
    right: 0px;
    border-radius: 10px;
    z-index: 1;

    a {
      text-decoration: none;
    }

    .n-button {
      .n-button__content {
        color: $primary;
      }
    }

    @include lg {
      display: none;
    }
  }

  .burgarBtn {
    height: 40px;
    padding: 0;
    position: relative;

    &:hover {
      background-color: transparent;
    }

    .svg-inline--fa {
      color: $secondary;
      font-size: 24px;
    }

    @include lg {
      display: none;
    }
  }

  .n-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;

    @include md {
      width: 40px;
      height: 40px;
    }
  }

  @include md {
    height: 80px;
  }
}

.n-popover {

  .n-popover__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $primary;
    color: white;

    .n-button {
      background-color: $secondary;
      line-height: 2.5;

      .n-button__content {
        font-weight: 700;

      }

      &:not(.n-button--disabled):hover {
        color: $primary;
      }
    }

    span {
      text-align: center;
      line-height: 2.5;
      color: $white;

      &:hover {
        color: $secondary;
      }
    }

    .logoutBtn {
      span {
        color: $primary;
        font-weight: 700;

        &:hover {
          color: $primary;
        }
      }
    }

    a {
      text-align: center;
      color: white;
      text-decoration: none;
      line-height: 2.5;

      &:hover {
        color: $secondary;
      }
    }
  }
}

.n-popover:not(.n-popover--raw):not(.n-popover--scrollable):not(.n-popover--show-header-or-footer) {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: $primary;
}

.popover-group {
  display: flex;
  align-items: center;
}