#NewTripinfo {
  .carousel-item {
    position: relative;
    width: 100%;
    height: 30vh;

    .carousel-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p {
      position: absolute;
      bottom: 25px;
      font-size: 16px;
      color: $white;
      font-weight: bolder;
      margin-left: 20px;
    }
  }


  @include md {
    .carousel-item {
      height: 50vh;

      p {
        font-size: 30px;
        bottom: 50px;
      }
    }
  }

  @include lg {
    .carousel-item {
      height: 70vh;

      p {
        font-size: 30px;
      }
    }
  }
}