$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$primary: #1F2E3C;
$secondary: #E8CDA2;
$lightblue: #6FA5D6;
$gray: #586067;
$white: #FFFFFF;

$bs-gutter-x: 1.5rem;