// 變數
@import './variables';

// RWD
@import './mixins/rwd';

#Attraction {
  width: 100% !important;
  padding: 60px 0;

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .n-input-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    input {
      width: 60%;
      height: 30px;
      border: 1px solid rgb(122, 122, 122);
      border-radius: 20px;
      padding: 0 15px;
    }

    button {
      height: 30px;
      padding: 0 20px;
      border: 1px solid rgb(122, 122, 122);
      border-radius: 20px;
      background-color: $secondary;
      color: $primary;
      font-weight: 700;
      cursor: pointer;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;

    @include md {

      grid-template-columns: repeat(2, 1fr);
    }

    @include xl {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
    }

    .n-image {
      width: 100%;
      height: 276px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover !important;
      }
    }

    .card-content {
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h2 {
          margin-top: 10px;
        }

        a {
          font-size: 16px;
          color: rgb(14, 118, 150);
        }
      }

      .description {
        color: rgb(153, 153, 153);
      }

      p {
        line-height: 2;
      }
    }

    .choose-itinerary {
      h3 {
        color: $gray;
        margin-bottom: 15px;
      }
    }
  }
}