// 變數
@import './variables';

// RWD
@import './mixins/rwd';

#Itinerary {
  width: 100%;

  .image-block,
  .n-image {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .n-upload {
    width: 100%;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .n-button {
      .n-button__border {
        border: none;
      }
    }

    .title {
      display: flex;
      align-items: center;

      h1 {
        margin-right: 10px;
      }
    }
  }

  .user-time {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;

    p {
      color: #B0B0B0;

      &:first-child {
        margin-right: 15px;
      }
    }
  }

  .item-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);

    .card-left {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .n-button {
        .n-button__border {
          border: none;
        }
      }
    }

  }

  .item-list {
    h2 {
      margin-top: 40px;
    }

    hr {
      border: 2px solid $primary;
      margin-bottom: 20px;
    }

    .item-list-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px 0px 3px rgb(110, 110, 110);
      margin: 10px 0;
      padding: 5px 15px;

      .n-button {
        .n-button__border {
          border: none;
        }
      }
    }

    .item-list-left {
      display: flex;
      align-items: center
    }
  }

  .totalSpend {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
    color: $secondary;
  }
}